* {
    margin: 0;
    padding: 0;
}

.grid_container {
    width: 624px;
    height: 624px;
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid_container > div {
    width: 37px;
    height: 37px;
    border: 1px solid black;
}

.grid_darkened {
    background-color: black;
}